!!!
%html
  %head
    %title Map Editor
    -# = stylesheet_link_tag    'application', media: 'all'
    %script{type: 'text/javascript', src: 'assets/javascripts/commonjs-require.js'}
    %script{type: 'text/javascript', src: 'assets/javascripts/application.js'}
  %body
    The Body
    MORE
