!!!
%html
  %head
    %title Map Editor
    %link{type: "text/css", rel: 'stylesheet', href: 'stylesheets/map_editor.css'}
    %script{type: 'text/javascript', src: 'http://code.jquery.com/jquery-2.2.0.min.js'}
    %script{type: 'text/javascript', src: '/javascript/module.js'}
  %body
    .wrapper
      %canvas#map_editor{width: "720", height: "480"}
        %p
          Your browser does not support the required functionality to play this game.
